<!DOCTYPE html>
<html lang="en">

<head>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
  <style>
    .container1 {
      width: 900px;
      margin: 0 auto;
      padding: 20px;
      background-color: #8a2be2;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .container1:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    label {
      display: inline-block;
      width: 180px;
      font-weight: bold;
    }

    input {
      width: 380px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    button {
    display: block;
    width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f8842b;
    color: white;
    border: none;
    border-radius: 20px; /* Making the corners curved */
    cursor: pointer;
  }

  button:hover {
    background-color: #f8610c; 
  }

    h1 {
      text-align: center;
    }

  </style>
  

  <style> 
    .container3{
      width: 900px;
      margin: 0 auto;
      padding: 20px;
      background-color: #8a2be2;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .h1 {
            text-align: center;
            margin-top: 20px;
        }

        .form {
            text-align: center;
            margin-top: 20px;
        }

        .input[type="file"] {
            margin-top: 10px;
        }

        .input[type="submit"] {
            background-color: #f8842b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .h2 {
            text-align: center;
            margin-top: 20px;
        }

        .p {
            text-align: center;
            margin-top: 10px;
        }

        .img {
            display: block;
            margin: 0 auto;
            max-width: 300px;
            margin-top: 20px;
        }
    </style>
  
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Nexus</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- font awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />

</head>
<script src="https://app.wotnot.io/chat-widget/3FpEnZUESEUw160424389374ruarU7ID.js" defer></script>
<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
    <img src="/static/images/logoj-removebg-preview.png" alt="Nexus Logo" width="200" height="90">
    
</a>

    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sol">Solution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#suggestion">College suggestion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#waste">Waste prediction</a>
              </li>
             
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/gender-equality-removebg-preview.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                     Social Eqality
                    </h1>
                    <p>
                      "Social equality is the principle that all individuals deserve fair and impartial treatment, with equal access to rights, opportunities, and resources, regardless of their background or identity."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/sgood-removebg-preview.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Social Good
                    </h1>
                    <p>
                      "Social good refers to actions, initiatives, and endeavors that aim to improve the well-being and welfare of society as a whole, fostering positive impact and equitable outcomes."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->
  <section class="service_section layout_padding" id="sol">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Solution
        </h2>
        <p>
          We offer solutions through a multi-faceted approach: an informative chatbot covering biodegradable waste and rights awareness, real-time data-driven insights into food scarcity, waste prediction via VGG16 image analysis, and college recommendations using the Random Forest algorithm.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/chtbt.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Chat bot 
              </h5>
              <p>
                The chatbot educates on waste categories, recycling, and environmental impact, while also offering resources for recycling services. It informs about fundamental women and children's rights.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/food.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Addressing Food Scarcity
              </h5>
              <p>
                Visualizing Food Scarcity in India: Insights from 2022 Global Food Security Index scores and Asia-Pacific averages through Statistical Charts
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/waste.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Waste prediction
              </h5>
              <p>
                Introducing an Advanced VGG16 Deep Learning Model: Achieving 77% Accuracy in Waste Classification from Uploaded Images, Alongside Customized Recycling Recommendations
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/clg.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                College Suggestion
              </h5>
              <p>
              College Recommendations:Leveraging Random Forest Algorithm in Machine Learning to Achieve 92% Accuracy Using 10th and 12th Grade Scores, Division, and Coed Preference.
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>
  <!-- end service section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Our multifaceted project leverages advanced Deep Learning and Machine Learning models to address key environmental, educational, and societal issues. We raise awareness about waste management, promote eco-friendly alternatives, aid in college decision-making, advocate for basic rights, and provide data-driven insights on food security in India. Our goal is to contribute to a sustainable and informed future through technology and education.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- case section -->
  <br><br><br>
    <br><br><br>
  <center>
    <h1>
      Suggesting the college
    </h1><br>
    <div class="container1" id="suggestion">
      <div class="container">
        <form action="/college_predict" method="post" class="cmmm"><br>
          <label for="10th mark" class="ya ob hi qi aj vl">
            10TH Mark
          </label>
          <input type="text" name="10Th Mark" placeholder="Enter 10th mark (in %)" required style="width: 500px;"><br>

          <label for="12 th mark" class="ya ob hi qi aj vl">
            12Th Mark
          </label>
          <input type="text" name="12Th Mark" placeholder="Enter 12th mark (in %)" required style="width: 500px;"><br>

          <label for="12th Division" class="ya ob hi qi aj vl">
            12Th division
          </label>
          <input type="text" name="12th Divison" placeholder="Enter 12Th Division (0-11)" required style="width: 500px;"><br>

          <label for="Coed" class="ya ob hi qi aj vl">
            Coed
          </label>
          <input type="text" name="Coed" placeholder="Do you need Coed? (0 or 1)" required style="width: 500px;"><br>
<br>
          <button type="submit" class="jc oe of lg fi ii oi zi hk il yl dm" style="width: 200px;">
            Predict
          </button>
        </form>
        <br>
        <h1 style="color: white;">{{ prediction_text }}</h1>
      </div>
    </div>
  </center>
<br><br><br>
<center id="waste">
    <h1>Waste Detection</h1><br>
<div class="container3" style="margin-top: -10px;" id="waste" >
    <div class="custom-form-box">
 
    <form action="/waste_predict" method="POST" enctype="multipart/form-data">
        <br><br><input type="file" name="image"><br><br><br>
        <button type="submit" class="jc oe of lg fi ii oi zi hk il yl dm" style="width: 200px;">
            Predict
          </button>

    </form><br>
      {% if prediction_value %}
 &nbsp; &nbsp; &nbsp;<h3 style="color: white;">Recycling Prediction:</h3>
<p style="color: white;">Item: {{ prediction_value }}</p>
<p style="color: white;">Accuracy: {{ prediction_accuracy }}%</p>
<p style="color: white;">Recycling Suggestion: {{ recycling_suggestion }}</p>

{% endif %}


    </div>
</div>
</center>

  <section class="case_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Addressing Food scarcity
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/f1or.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                India—food security overview
              </h5>
              <p>
                India ranks 14th in the Asia-Pacific region in the 2022 Global Food Security Index. It excels in availability but faces challenges in sustainability and adaptation, particularly concerning climate change,water management.
              </p>
              <a href="https://impact.economist.com/sustainability/project/food-security-index/reports/Economist_Impact_GFSI_2022_India_country_report_Sep_2022.pdf">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/static/images/f2or.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Asia Pacific—regional snapshot
              </h5>
              <p>
                The Asia-Pacific region, ranking 3rd in the 2022 Global Food Security Index, grapples with sustainability and adaptation challenges linked to climate change, significantly impacting food security, especially in developing nations.
              </p>
              <a href="https://impact.economist.com/sustainability/project/food-security-index/reports/Economist_Impact_GFSI_2022_India_country_report_Sep_2022.pdf">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  

  <!-- end case section -->

  <!-- client section -->
  
    <!-- end info section -->

    <!-- footer section -->
    
  </div>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>